html, body {
  background-color: rgb(61, 123, 173);
    margin: 0;
    padding: 0;
  }
  
  #canvasWrapper {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }