body {
    background-image: url('images/hotel_book.webp');
    background-attachment: fixed;
    background-position: center;
    background-size: contain; /* Use "contain" to fit the entire image within the viewport */
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
    overflow: hidden;
    height: 100vh; /* Set the body to be 100% of the viewport height */
}
@import url('https://fonts.cdnfonts.com/css/archer-2');
                
.container {
    width: 100%;
    height: 100vh;
 }
  
.toppane {
    width: 100%;
    height: 100px;
    text-align: center; 
}
.toppane h1{
    margin-top: 2%;
    vertical-align:middle;
}
  
.leftpane {
    width: 35%;
    height: 100vh;
    text-align: center;
    margin-left: 5%;

}
  
  .middlepane {
    width: 50%;
    height: 100vh;
    text-align: center;

  }
  
  .rightpane {
    width: 35%;
    height: 100vh;
    text-align: center;
    margin-right: 5%;
  }
  
  
  .d-flex {
    display: flex;
  }

  .anybutton {
    height: 1cm;
    margin-top: 60%;
    position: relative;
}
p{
    color: #d5a0bd;
    font-weight: 300;
    font-size: 20px;
    font-weight: 350;
    font-family: 'Archer', sans-serif;


}
h1{
    color: #d5a0bd;
    font-weight: bolder;
    font-size: 40px;
    font-family: 'Archer', sans-serif;

}