body {
    background-image: url('images/HotelBudapest.png');
    background-size: contain; /* Use "contain" to fit the entire image within the viewport */
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Set the body to be 100% of the viewport height */
}
